<template>
  <div>
    <v-toolbar dark prominent>
      <v-app-bar-nav-icon></v-app-bar-nav-icon>
      <v-toolbar-title>{{ title }}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon @click="$emit('user:add', null)">
        <v-icon color="primary">mdi-plus</v-icon>
      </v-btn>
    </v-toolbar>
  </div>
</template>

<script>
export default {
  name: "ContainerPage",
  props: { title: String },
};
</script>
