<template>
  <v-dialog
    v-model="showModal"
    max-width="500"
  >
    <v-card>
      <v-toolbar
        height="42"
        flat
        color="primary"
      >
        <v-toolbar-title class="text-subtitle-1 font-weight-medium">
          Editar usuario
        </v-toolbar-title>
        <v-spacer />
        <v-btn
          density="comfortable"
          icon
          @click="showModal = false"
        >
          <v-icon icon="mdi-close" />
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <v-form ref="form">
          <v-text-field
            v-model="userName"
            label="Search"
            prepend-inner-icon="mdi-magnify"
            variant="outlined"
            density="compact"
            hide-details
            :rules="rules.name"
            single-line
          />
          <v-text-field
            v-model="userLastName"
            label="Search"
            prepend-inner-icon="mdi-magnify"
            variant="outlined"
            density="compact"
            :rules="rules.name"
            hide-details
            single-line
          />
        </v-form>
      </v-card-text>
      <v-divider />
      <v-card-actions>
        <v-spacer />
        <v-btn
          color="primary"
          @click="submit"
        >
          Guardar
        </v-btn>
        <v-btn @click="showModal = false">
          Cancelar
        </v-btn>
        <v-spacer />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  name: "EditUser",
  props: {
    userData: { type: Object, default: null, required: true },
    modelValue: { type: Boolean, default: false }
  },
  emits: ['update:modelValue'],
  data () {
    return {
      userName: '',
      userLastName: '',
      rules: {
        name: [
          v => !!v || 'Name is required',
        ]
      },
    };
  },
  computed: {
    showModal: {
      get () {
        return this.modelValue
      },
      set (value) {
        this.$emit('update:modelValue', value)
      }
    }
  },
  // created () {
  //   /*  */
  // },

  mounted () {
    console.log(this.userData, 'this.userData')

    this.userName = this.userData.name
    this.userLastName = this.userData.lastname
  },
  // destroyed () {
  //   ;
  // },

  methods: {
    async submit () {
      const { valid } = await this.$refs.form.validate()

      if (!valid) return

      /* code here  */
      alert('Form is valid')
    }
  },
};
</script>