<template>
  <div>
    <div v-bind:key="todo.id" v-for="todo in todoslist">
      <TodoItemId v-bind:todoitem="todo" v-on:delete-todo="$emit('delete-todo', todo.id)" />
    </div>
  </div>
</template>

<script>
import TodoItemId from "./TodoItemId";

export default {
  name: "TodosTemplate",
  props: ["todoslist"],
  components: { TodoItemId },
};
</script>

<style></style>