<template>
  <v-text-field
    v-model="search"
    label="Search"
    prepend-inner-icon="mdi-magnify"
    variant="outlined"
    hide-details
    single-line
  />

  <v-data-table
    :headers="headers"
    :items="users"
    :search="search"
  >
    <template #item.actions="{ item }">
      <div>
        <v-btn
          color="indigo"
          icon="mdi-pencil"
          variant="text"
          @click="$emit('user:edit', item)"
        />
        <v-btn
          color="red"
          icon="mdi-delete"
          variant="text"
          @click="$emit('user:delete', item)"
        />
      </div>

      <!-- <v-row align="center">
        <div
          v-for="actions in dataActions"
          :key="actions.key"
        >
          <v-btn
            :color="actions.color"
            :icon="actions.icon"
            variant="text"
            @click="$emit('actBtn',actions.accion, item)"
          />
        </div>
      </v-row> -->
    </template>
  </v-data-table>
</template>

<script>
export default {
  props: {
    users: {  type: Array,  default: ()=> []},
    headers: {  type: Array,  default: ()=> []},
    dataActions: {  type: Array,  default: ()=> []},
  },
  emits: ['user:edit', 'user:delete'],
  data() {
    return {
      search: ''
    }
  },
};
</script>