<template>
  <v-dialog v-model="showModal" max-width="500">
    <v-card>
      <v-toolbar height="42" flat color="success">
        <v-toolbar-title class="text-subtitle-1 font-weight-medium">
          Agregar Usuario
        </v-toolbar-title>
        <v-spacer />
        <v-btn density="comfortable" icon @click="showModal = false">
          <v-icon icon="mdi-close" />
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <v-form ref="form">
          <v-text-field
            v-model="userName"
            label="Nombres"
            prepend-inner-icon="mdi-account"
            variant="outlined"
            density="compact"
            hide-details="auto"
            :rules="rules.name"
            clearable
            class="mb-2"
          />

          <v-text-field
            v-model="userLastName"
            label="Apellidos"
            prepend-inner-icon="mdi-account-card-details"
            variant="outlined"
            density="compact"
            hide-details="auto"
            :rules="rules.lastname"
            clearable
            class="mb-2"
          />

          <v-text-field
            v-model="userEmail"
            label="Correo electrónico"
            prepend-inner-icon="mdi-email-open-outline"
            variant="outlined"
            density="compact"
            hide-details="auto"
            :rules="rules.email"
            clearable
            class="mb-2"
          />

          <v-text-field
            v-model="userType"
            label="Tipo de Usuario"
            prepend-inner-icon="mdi-account-switch"
            variant="outlined"
            density="compact"
            hide-details="auto"
            :rules="rules.type"
            clearable
            class="mb-2"
          />
          <v-text-field
            v-model="userNick"
            label="Nombre Nick de Usuario"
            prepend-inner-icon="mdi-account-box-outline"
            variant="outlined"
            density="compact"
            hide-details="auto"
            :rules="rules.usuario"
            clearable
            class="mb-2"
          />
          <!-- <v-text-field
            v-model="userPassword"
            label="Contraseña"
            prepend-inner-icon="mdi-asterisk"
            variant="outlined"
            density="compact"
            hide-details
            single-line
          /> -->
        </v-form>
      </v-card-text>
      <v-divider />
      <v-card-actions>
        <v-spacer />
        <v-btn color="primary" @click="submit"> Guardar </v-btn>
        <v-btn @click="showModal = false"> Cancelar </v-btn>
        <v-spacer />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  name: "UserAddModal",
  props: {
    modelValue: { type: Boolean, default: false },
  },
  emits: ["update:modelValue", "user:add-all"],
  data() {
    return {
      userName: "",
      userLastName: "",
      userEmail: "",
      userType: "",
      userNick: "",
      // userPassword: "",
      rules: {
        name: [(v) => !!v || "Nombre es requerido"],
      },
    };
  },
  computed: {
    showModal: {
      get() {
        return this.modelValue;
      },
      set(value) {
        this.$emit("update:modelValue", value);
      },
    },
  },
  // created () {
  //   /*  */
  // },

  mounted() {},
  // destroyed () {
  //   ;
  // },

  methods: {
    async submit() {
      const { valid } = await this.$refs.form.validate();
      if (!valid) return;

      const users = {
        name: this.userName,
        lastname: this.userLastName,
        email: this.userEmail,
        type: this.userType,
        usuario: this.userNick,
        estado: false,
      };

      //console.log(users)
      this.$emit("user:add-all", users);
      // /* code here  */
      // alert("Form is valid");
    },
  },
};
</script>