<template>
  <v-dialog v-model="showModal" max-width="500">
    <v-card>
      <v-toolbar height="42" flat color="red">
        <v-toolbar-title class="text-subtitle-1 font-weight-medium">
          Eliminar Usuario
        </v-toolbar-title>
        <v-spacer />
        <v-btn density="comfortable" icon @click="showModal = false">
          <v-icon icon="mdi-close" />
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <v-form ref="form">
          <div class="text-subtitle-1">
            ¿Estás seguro de eliminar el usuario?
          </div>
        </v-form>
      </v-card-text>
      <v-divider />
      <v-card-actions>
        <v-spacer />
        <v-btn color="primary" @click="submit"> Eliminar </v-btn>
        <v-btn @click="showModal = false"> Cancelar </v-btn>
        <v-spacer />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
  <script>
export default {
  name: "UserDeleteModal",
  props: {
    userData: { type: Object, default: null, required: true },
    modelValue: { type: Boolean, default: false },
  },
  emits: ["update:modelValue", "user:delete-id"],
  data() {
    return {
      userId: "",
      userName: "",
      userLastName: "",
      rules: {
        id: [(v) => v > 0 || "Name is required"],
      },
    };
  },
  computed: {
    showModal: {
      get() {
        return this.modelValue;
      },
      set(value) {
        this.$emit("update:modelValue", value);
      },
    },
  },

  mounted() {
    //console.log(this.userData, "this.userData");
    this.id = this.userData.id;
  },
  // destroyed () {
  //   ;
  // },

  methods: {
    async submit() {
      this.$emit("user:delete-id", this.id);
      //   const { valid } = await this.$refs.form;
      //     console.log(valid)
      //   if (!valid) return;

      //   /* code here  */
      //   alert("Form is valid");
    },
  },
};
</script>