<template>
  <div>
    <ContainerPage title="Lista de Usuarios" @user:add="handleUserAdd" />
    <UserDataTable
      :users="users"
      :headers="headers"
      @user:edit="handleUserEdit"
      @user:delete="handleUserDelete"
    />
    <UserAddModal
      v-if="showUserAddModal"
      v-model="showUserAddModal"
      @user:add-all="addTodo"
    />
    <EditUser
      v-if="!!userData"
      v-model="showUserEditModal"
      :user-data="userData"
    />
    <UserDeleteModal
      v-if="!!userData"
      v-model="showUserDeleteModal"
      :user-data="userData"
      @user:delete-id="deleteTodo"
    />

    <!-- <div id="main-container">
      <h2>Todos</h2>
      <TodoMore v-on:add-todo="addTodo" />
      <TodosTemplate
        v-bind:todoslist="copyTodos"
        v-on:delete-todo="deleteTodo"
      />
    </div> -->
  </div>
</template>

<script>
import ContainerPage from "./components/ContainerPage";
import UserDataTable from "./components/UserDataTable";
import EditUser from "./components/EditUser";
import UserDeleteModal from "./components/UserDeleteModal";
import UserAddModal from "./components/UserAddModal";

export default {
  name: "App",
  components: {
    ContainerPage,
    UserDataTable,
    EditUser,
    UserDeleteModal,
    UserAddModal,
  },
  data() {
    return {
      users: [
        {
          id: 1,
          name: "Jhonny Andres",
          lastname: "Silva Valderrama",
          email: "jasv_2011_@hotmail.com",
          type: "administrador",
          usuario: "jhoandvalk",
          estado: false,
        },
      ],
      headers: [
        { key: "name", title: "Nombres", sortable: true },
        { key: "lastname", title: "Apellidos", sortable: true },
        { key: "email", title: "Correo Electrónico" },
        { key: "type", title: "Tipo de Usuario" },
        { key: "usuario", title: "Nick usuario" },
        { key: "actions", title: "Acciones" },
      ],

      actions: [
        {
          key: 0,
          accion: "editar",
          name: "Editar",
          icon: "mdi-pencil",
          color: "indigo",
        },
        {
          key: 1,
          accion: "eliminar",
          name: "Eliminar",
          icon: "mdi-delete",
          color: "red",
        },
      ],
      showUserAddModal: false,
      showUserEditModal: false,
      showUserDeleteModal: false,

      userData: null,
    };
  },
  created() {},
  methods: {
    deleteTodo(id) {
      this.users = this.users.filter((todo) => todo.id != id);
      this.showUserDeleteModal = false;
      // this.users = [...this.users];
    },
    addTodo(todo) {
      //console.log(todo);
      this.users.push(todo);
      this.showUserAddModal = false;
      // this.todos.push(todo.name);
      // this.copyTodos = [...this.todos];
    },
    queryWord(query) {
      if (query.trim() === "") {
        this.copyTodos = [...this.todos];
      } else {
        const temp = this.todos.filter((todo) => {
          return todo.title.includes(query);
        });

        this.copyTodos = [...temp];
      }
    },
    handleUserEdit(item) {
      this.showUserEditModal = true;
      this.userData = item;
    },
    handleUserDelete(item) {
      this.showUserDeleteModal = true;
      this.userData = item;
    },
    handleUserAdd() {
      this.showUserAddModal = true;
    },
  },
};
</script>

<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

#main-container {
  border: solid 1px #ccc;
  width: 600px;
  margin: 100px auto;
  padding: 1em;
}

h2 {
  padding: 0 10px;
}
</style>